/* For the repsonsive menus (Primary, Click and Hover) */
@media (min-width:62rem) {
  .mobile-nav {
    display: none !important;
  }

  .solo-inner .navigation__responsive {
    display: flex !important;
    flex-wrap: wrap;
  }

  .navigation-primary-responsive.menu-align-center .navigation__responsive {
    justify-content: center;
    margin-inline: auto;
    margin-block: 0;
  }

  .solo-inner .navigation__responsive:not(.navigation__megamenu)>li.nav__menu-item ul.sub__menu {
    min-width: 200px;
    display: none;
  }

  /* For the second tier */
  .solo-inner .navigation__responsive>li>ul.sub__menu {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 100%;
  }

  /* For the third tier */
  .solo-inner .navigation__responsive:not(.navigation__megamenu)>li>ul>li>ul.sub__menu {
    position: absolute;
    inset-inline-start: 100%;
    inset-block-start: 0;
  }

  .solo-inner .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu) li:hover>ul.sub__menu {
    display: flex !important;
  }

  .solo-inner .navigation-responsive-hover .navigation__responsive>li.has-sub__menu:hover .dropdown-arrow {
    transition: all 0.3s ease;
    transform: rotate(180deg);
  }

  .solo-inner .navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu)>li>ul>li.has-sub__menu:hover .dropdown-arrow {
    transition: all 0.3s ease;
    transform: rotate(-90deg);
  }

  .page-wrapper .navigation-responsive-hover .navigation__responsive li.has-sub__menu>a:hover,
  .page-wrapper .navigation-responsive-hover .navigation__responsive li.has-sub__menu>button:hover {
    color: inherit !important;
    background-color: inherit !important;
  }

  .page-wrapper .navigation-responsive-hover .navigation__responsive li.has-sub__menu:hover>a,
  .page-wrapper .navigation-responsive-hover .navigation__responsive li.has-sub__menu:hover>button {
    color: var(--r-tx-lk-h, var(--r-tx)) !important;
    background-color: var(--r-bg-lk-h, var(--r-bg)) !important;
  }

  .page-wrapper .has-border .primary-menu-inner .navigation__primary>li>ul,
  .page-wrapper .has-border .primary-menu-inner .navigation__primary:not(.navigation__megamenu)>li>ul ul {
    border: 1px solid var(--r-br) !important;
  }

  .page-wrapper .has-border .primary-menu-inner .navigation__primary>li:first-child {
    border-inline-start: 1px solid var(--r-br);
  }

  .page-wrapper .has-border .primary-menu-inner .navigation__primary>li {
    border-inline-end: 1px solid var(--r-br) !important;
  }

  .page-wrapper .has-border .primary-menu-inner .navigation__primary:not(.navigation__megamenu)>li li {
    border-block-end: 1px solid var(--r-br) !important;
  }

  /* Justify menu items */
  .page-wrapper .menu--justify .primary-menu-inner .navigation__primary {
    justify-content: space-between;
  }

  .page-wrapper .menu--justify .primary-menu-inner .navigation__primary>li {
    flex-grow: 1;
  }

  .page-wrapper .menu--justify .primary-menu-inner .navigation__primary>li>a,
  .page-wrapper .menu--justify .primary-menu-inner .navigation__primary>li>*>span,
  .page-wrapper .menu--justify .primary-menu-inner .navigation__primary>li>button,
  .page-wrapper .menu--justify .primary-menu-inner .navigation__primary>li>button.ds-link>span {
    justify-content: center;
    text-align: center;
  }

  /* Sidebar Menu Hover */
  .solo-inner .navigation-sidebar-hover .navigation__sidebar li:hover>ul.sub__menu {
    display: block !important;
  }

  .solo-inner .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>*>.dropdown-arrow {
    transition: all 0.3s ease;
    transform: rotate(180deg);
  }

  .solo-inner .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu>a:hover,
  .solo-inner .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu>button:hover {
    color: inherit !important;
    background-color: inherit !important;
  }

  .page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>a,
  .page-wrapper .navigation-sidebar-hover .navigation__sidebar li.has-sub__menu:hover>button {
    color: var(--r-tx-lk-h, var(--r-tx)) !important;
    background-color: var(--r-bg-lk-h, var(--r-bg)) !important;
  }

  /* Primary Menu expand left */
  #primary-menu .expand-left ul.navigation__primary:not(.navigation__megamenu)>li>ul>li>button.en-link,
  #primary-menu .expand-left ul.navigation__primary:not(.navigation__megamenu)>li>ul>li>button>span.toggler-icon {
    order: -1;
    text-align: var(--solo-text-align-end);
  }

  #primary-menu .expand-left ul.navigation__primary:not(.navigation__megamenu)>li>ul>li>a.url-added,
  #primary-menu .expand-left ul.navigation__primary:not(.navigation__megamenu)>li>ul>li>button>span.menu__url-title-disabled {
    order: 1;
    justify-content: end;
    text-align: var(--solo-text-align-end);
  }

  #primary-menu .expand-left ul.navigation__primary:not(.navigation__megamenu)>li>ul>li>button>span.menu__url-title-disabled {
    margin-inline-end: var(--solo-px0) !important;
    margin-inline-start: var(--solo-px12) !important;
    text-align: var(--solo-text-align-end);
  }

  #primary-menu .expand-left ul.navigation__primary:not(.navigation__megamenu) li.button-only>button>span.toggler-icon {
    margin-inline-end: var(--solo-px12) !important;
    margin-inline-start: var(--solo-px0) !important;
  }

  #primary-menu .expand-left ul.navigation__primary:not(.navigation__megamenu)>li>ul.sub__menu {
    inset-inline-end: 0 !important;
    inset-inline-start: initial !important;
  }

  #primary-menu .expand-left ul.navigation__primary:not(.navigation__megamenu)>li>ul>li>ul.sub__menu {
    inset-inline-end: 100% !important;
    inset-inline-start: initial !important;
  }

  #primary-menu .expand-left ul.navigation__primary:not(.navigation__megamenu)>li>ul>li>ul>li a {
    justify-content: end !important;
  }

  #primary-menu .expand-left.navigation-responsive-hover .navigation__responsive:not(.navigation__megamenu)>li>ul>li.has-sub__menu:hover .dropdown-arrow {
    transform: rotate(90deg);
  }

}

/* For the repsonsive menus (Primary, Click and Hover) */
@media (max-width:62rem) {
  .solo-inner .navigation__responsive,
  .solo-inner .navigation__responsive ul.sub__menu {
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .solo-inner .navigation__responsive  li.nav__menu-item {
    flex-basis: 100%;
    flex-grow: 1;
  }

  .solo-inner .navigation__responsive  li.has-sub__menu ul.sub__menu {
    overflow: hidden;
  }

  .solo-inner .navigation__responsive>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>a:first-child,
  .solo-inner .navigation__responsive>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>button:first-child {
    padding-inline-start: 24px;
  }

  .solo-inner .navigation__responsive>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>a:first-child,
  .solo-inner .navigation__responsive>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>ul.sub__menu>li.nav__menu-item>button:first-child {
    padding-inline-start: 32px;
  }

  .solo-inner .navigation__responsive li.has-sub__menu {
    justify-content: end;
    flex-wrap: wrap;
  }

  .solo-inner .navigation__responsive,
  .solo-inner .navigation__responsive ul.sub__menu {
    display: none;
  }

  .solo-inner .navigation__responsive li.link-and-button>button {
    margin-inline-start: auto;
  }

  .mobile-nav > button {
    padding-inline: var(--solo-px16) !important;
    padding-block: 0 !important;
  }

  .page-wrapper .has-border .primary-menu-inner ul.toggled {
    border-block-start: 1px solid var(--r-br) !important;
  }

  .page-wrapper .has-border .primary-menu-inner .navigation__primary.toggled {
    border-block-start: 1px solid var(--r-br) !important;
  }

  .page-wrapper .has-border .primary-menu-inner .navigation__primary li {
    border-block-end: 1px solid var(--r-br) !important;
  }

}
