﻿/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-block-end: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  --r-tx: var(--solo-black);
  --r-bg: #ff0;
  background: var(--r-bg);
  color: var(--r-tx);
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  inset-block-end: -0.25em;
}

sup {
  inset-block-start: -0.5em;
}

figure {
  margin-block: 1em;
  margin-inline: 40px;
}

img {
  border-style: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin-block: 0;
  margin-inline: 2px;
  padding-block-start: .35em;
  padding-inline: .625em;
  padding-block-end: .75em;
}


legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* End extract */
html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

html {
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.w3-serif {
  font-family: serif;
}

.w3-sans-serif {
  font-family: sans-serif;
}

.w3-cursive {
  font-family: cursive;
}

.w3-monospace {
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin-block: 10px;
  margin-inline: 0;
}

.w3-wide {
  letter-spacing: 4px;
}

hr {
  --r-br: #eee;
  border: 0;
  border-block-start: 1px solid var(--r-br);
  margin-block: 20px;
  margin-inline: auto;
}

.w3-image {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
}

.w3-table,
.w3-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}

.page-wrapper .w3-table-all {
  --r-br: var(--solo-ccc);
  border: 1px solid var(--r-br);
}

.page-wrapper .w3-bordered tr,
.page-wrapper .w3-table-all tr {
  --r-br: #ddd;
  border-block-end: 1px solid var(--r-br);
}

.page-wrapper .w3-table-all tr:nth-child(even),
.page-wrapper .w3-striped tbody tr:nth-child(even) {
  --r-bg: #f1f1f1;
  background-color: var(--r-bg);
}

.page-wrapper .w3-table-all tr:nth-child(odd) {
  --r-bg: var(--solo-white);
  background-color: var(--r-bg);
}

.page-wrapper .w3-hoverable tbody tr:hover,
.page-wrapper .w3-ul.w3-hoverable li:hover {
  --r-bg: var(--solo-ccc);
  background-color: var(--r-bg);
}

.w3-centered tr th,
.w3-centered tr td {
  text-align: center;
}

.w3-table td,
.w3-table th,
.w3-table-all td,
.w3-table-all th {
  padding: 8px;
  display: table-cell;
  text-align: var(--solo-text-align-start);
  vertical-align: top;
}

.w3-table th:first-child,
.w3-table td:first-child,
.w3-table-all th:first-child,
.w3-table-all td:first-child {
  padding-inline-start: 16px;
}

.w3-btn,
.w3-button {
  border: none;
  display: inline-block;
  padding-block: 8px;
  padding-inline: 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-btn,
.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w3-disabled,
.w3-btn:disabled,
.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.w3-disabled *,
:disabled * {
  pointer-events: none;
}

.w3-btn.w3-disabled:hover,
.w3-btn:disabled:hover {
  box-shadow: none;
}

.page-wrapper .w3-badge,
.page-wrapper .w3-tag {
  --r-tx: var(--solo-white);
  --r-bg: var(--solo-black);
  background-color: var(--r-bg);
  color: var(--r-tx);
  display: inline-block;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  text-align: center;
}

.w3-badge {
  border-radius: 50%;
}

.w3-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.w3-ul li {
  --r-br: #ddd;
  padding-block: 8px;
  padding-inline: 16px;
  border-block-end: 1px solid var(--r-br);
}

.w3-ul li:last-child {
  border-block-end: none;
}

.w3-tooltip,
.w3-display-container {
  position: relative;
}

.w3-tooltip .w3-text {
  display: none;
}

.w3-tooltip:hover .w3-text {
  display: inline-block;
}

.w3-ripple:active {
  opacity: 0.5;
}

.w3-ripple {
  transition: opacity 0s;
}

.page-wrapper .w3-input {
  --r-br: var(--solo-ccc);
  padding: 8px;
  display: block;
  border: none;
  border-block-end: 1px solid var(--r-br);
  width: 100%;
}

.page-wrapper .w3-select {
  --r-br: var(--solo-ccc);
  padding-block: 9px;
  padding-inline: 0;
  width: 100%;
  border: none;
  border-block-end: 1px solid var(--r-br);
}

.w3-dropdown-click,
.w3-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.w3-dropdown-hover:hover .w3-dropdown-content {
  display: block;
}

.page-wrapper .w3-dropdown-hover:first-child,
.page-wrapper .w3-dropdown-click:hover {
  --r-tx: var(--solo-black);
  --r-bg: var(--solo-ccc);
  background-color: var(--r-bg);
  color: var(--r-tx);
}

.page-wrapper .w3-dropdown-hover:hover > .w3-button:first-child,
.page-wrapper .w3-dropdown-click:hover > .w3-button:first-child {
  --r-tx: var(--solo-black);
  --r-bg: var(--solo-ccc);
  background-color: var(--r-bg);
  color: var(--r-tx);
}

.page-wrapper .w3-dropdown-content {
  cursor: auto;
  --r-tx: var(--solo-black);
  --r-bg: var(--solo-white);
  background-color: var(--r-bg);
  color: var(--r-tx);
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.w3-check,
.w3-radio {
  width: 24px;
  height: 24px;
  position: relative;
  inset-block-start: 6px;
}

.page-wrapper .w3-sidebar {
  height: 100%;
  width: 200px;
  --r-bg: var(--solo-white);
  background-color: var(--r-bg);
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

.w3-bar-block .w3-dropdown-hover,
.w3-bar-block .w3-dropdown-click {
  width: 100%;
}

.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,
.w3-bar-block .w3-dropdown-click .w3-dropdown-content {
  min-width: 100%;
}

.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
  width: 100%;
  text-align: var(--solo-text-align-start);
  padding-block: 8px;
  padding-inline: 16px;
}

.w3-main,
#main {
  transition: margin-left .4s;
}

.w3-modal {
  z-index: 3;
  display: none;
  padding-block-start: 100px;
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.page-wrapper .w3-modal-content {
  margin: auto;
  --r-bg: var(--solo-white);
  background-color: var(--r-bg);
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}

.w3-bar {
  width: 100%;
  overflow: hidden;
}

.w3-center .w3-bar {
  display: inline-block;
  width: auto;
}

.w3-bar .w3-bar-item {
  padding-block: 8px;
  padding-inline: 16px;
  float: inline-start;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.w3-bar .w3-dropdown-hover,
.w3-bar .w3-dropdown-click {
  position: static;
  float: inline-start;
}

.w3-bar .w3-button {
  white-space: normal;
}

.w3-bar-block .w3-bar-item {
  width: 100%;
  display: block;
  padding-block: 8px;
  padding-inline: 16px;
  text-align: var(--solo-text-align-start);
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.w3-bar-block.w3-center .w3-bar-item {
  text-align: center;
}

.w3-block {
  display: block;
  width: 100%;
}

.w3-responsive {
  display: block;
  overflow-x: auto;
}

.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,
.w3-cell-row:after,
.w3-clear:after,
.w3-clear:before,
.w3-bar:before,
.w3-bar:after {
  content: "";
  display: table;
  clear: both;
}

.w3-col,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
  float: inline-start;
  width: 100%;
}

.w3-col.s1 {
  width: 8.33333%;
}

.w3-col.s2 {
  width: 16.66666%;
}

.w3-col.s3 {
  width: 24.99999%;
}

.w3-col.s4 {
  width: 33.33333%;
}

.w3-col.s5 {
  width: 41.66666%;
}

.w3-col.s6 {
  width: 49.99999%;
}

.w3-col.s7 {
  width: 58.33333%;
}

.w3-col.s8 {
  width: 66.66666%;
}

.w3-col.s9 {
  width: 74.99999%;
}

.w3-col.s10 {
  width: 83.33333%;
}

.w3-col.s11 {
  width: 91.66666%;
}

.w3-col.s12 {
  width: 99.99999%;
}

@media (min-width:601px) {
  .w3-col.m1 {
    width: 8.33333%;
  }

  .w3-col.m2 {
    width: 16.66666%;
  }

  .w3-col.m3,
  .w3-quarter {
    width: 24.99999%;
  }

  .w3-col.m4,
  .w3-third {
    width: 33.33333%;
  }

  .w3-col.m5 {
    width: 41.66666%;
  }

  .w3-col.m6,
  .w3-half {
    width: 49.99999%;
  }

  .w3-col.m7 {
    width: 58.33333%;
  }

  .w3-col.m8,
  .w3-twothird {
    width: 66.66666%;
  }

  .w3-col.m9,
  .w3-threequarter {
    width: 74.99999%;
  }

  .w3-col.m10 {
    width: 83.33333%;
  }

  .w3-col.m11 {
    width: 91.66666%;
  }

  .w3-col.m12 {
    width: 99.99999%;
  }

}

@media (min-width:62rem) {
  .w3-col.l1 {
    width: 8.33333%;
  }

  .w3-col.l2 {
    width: 16.66666%;
  }

  .w3-col.l3 {
    width: 24.99999%;
  }

  .w3-col.l4 {
    width: 33.33333%;
  }

  .w3-col.l5 {
    width: 41.66666%;
  }

  .w3-col.l6 {
    width: 49.99999%;
  }

  .w3-col.l7 {
    width: 58.33333%;
  }

  .w3-col.l8 {
    width: 66.66666%;
  }

  .w3-col.l9 {
    width: 74.99999%;
  }

  .w3-col.l10 {
    width: 83.33333%;
  }

  .w3-col.l11 {
    width: 91.66666%;
  }

  .w3-col.l12 {
    width: 99.99999%;
  }

}

.w3-rest {
  overflow: hidden;
}

.w3-stretch {
  margin-inline-start: -16px;
  margin-inline-end: -16px;
}

.w3-content,
.w3-auto {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.w3-content {
  max-width: 980px;
}

.w3-auto {
  max-width: 1140px;
}

.w3-cell-row {
  display: table;
  width: 100%;
}

.w3-cell {
  display: table-cell;
}

.w3-cell-top {
  vertical-align: top;
}

.w3-cell-middle {
  vertical-align: middle;
}

.w3-cell-bottom {
  vertical-align: bottom;
}

.w3-hide {
  display: none !important;
}

.w3-show-block,
.w3-show {
  display: block !important;
}

.w3-show-inline-block {
  display: inline-block !important;
}

@media (max-width:1205px) {
  .w3-auto {
    max-width: 95%;
  }

}

@media (max-width:600px) {
  .w3-modal-content {
    margin-block: 0;
    margin-inline: 10px;
    width: auto !important;
  }

  .w3-modal {
    padding-block-start: 30px;
  }

  .w3-dropdown-hover.w3-mobile .w3-dropdown-content,
  .w3-dropdown-click.w3-mobile .w3-dropdown-content {
    position: relative;
  }

  .w3-hide-small {
    display: none !important;
  }

  .w3-mobile {
    display: block;
    width: 100% !important;
  }

  .w3-bar-item.w3-mobile,
  .w3-dropdown-hover.w3-mobile,
  .w3-dropdown-click.w3-mobile {
    text-align: center;
  }

  .w3-dropdown-hover.w3-mobile,
  .w3-dropdown-hover.w3-mobile .w3-btn,
  .w3-dropdown-hover.w3-mobile .w3-button,
  .w3-dropdown-click.w3-mobile,
  .w3-dropdown-click.w3-mobile .w3-btn,
  .w3-dropdown-click.w3-mobile .w3-button {
    width: 100%;
  }

}

@media (max-width:768px) {
  .w3-modal-content {
    width: 500px;
  }

  .w3-modal {
    padding-block-start: 50px;
  }

}

@media (min-width:62rem) {
  .w3-modal-content {
    width: 900px;
  }

  .w3-hide-large {
    display: none !important;
  }

  .w3-sidebar.w3-collapse {
    display: block !important;
  }

}

@media (max-width:62rem) and (min-width:601px) {
  .w3-hide-medium {
    display: none !important;
  }

}

@media (max-width:62rem) {
  .w3-sidebar.w3-collapse {
    display: none;
  }

  .w3-main {
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
  }

  .w3-auto {
    max-width: 100%;
  }

}

.w3-top,
.w3-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.w3-top {
  inset-block-start: 0;
}

.w3-bottom {
  inset-block-end: 0;
}

.w3-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.w3-display-topleft {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
}

.w3-display-topright {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.w3-display-bottomleft {
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
}

.w3-display-bottomright {
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 0;
}

.w3-display-middle {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.w3-display-left {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}

.w3-display-right {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.w3-display-topmiddle {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.w3-display-bottommiddle {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-end: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.w3-display-container:hover .w3-display-hover {
  display: block;
}

.w3-display-container:hover span.w3-display-hover {
  display: inline-block;
}

.w3-display-hover {
  display: none;
}

.w3-display-position {
  position: absolute;
}

.w3-circle {
  border-radius: 50%;
}

.w3-round-small {
  border-radius: 2px;
}

.w3-round,
.w3-round-medium {
  border-radius: 4px;
}

.w3-round-large {
  border-radius: 8px;
}

.w3-round-xlarge {
  border-radius: 16px;
}

.w3-round-xxlarge {
  border-radius: 32px;
}

.w3-row-padding,
.w3-row-padding>.w3-half,
.w3-row-padding>.w3-third,
.w3-row-padding>.w3-twothird,
.w3-row-padding>.w3-threequarter,
.w3-row-padding>.w3-quarter,
.w3-row-padding>.w3-col {
  padding-block: 0;
  padding-inline: 8px;
}

.w3-container,
.w3-panel {
  padding-block: 0.01em;
  padding-inline: 16px;
}

.w3-panel {
  margin-block-start: 16px;
  margin-block-end: 16px;
}

.w3-code,
.w3-codespan {
  font-family: Consolas, "courier new";
  font-size: 16px;
}

.page-wrapper .w3-code {
  width: auto;
  --r-bg: var(--solo-white);
  background-color: var(--r-bg);
  padding-block: 8px;
  padding-inline: 12px;
  --r-br: #4caf50;
  border-inline-start: 4px solid var(--r-br);
  word-wrap: break-word;
}

.page-wrapper .w3-codespan {
  color: crimson;
  --r-bg: #f1f1f1;
  background-color: var(--r-bg);
  padding-inline-start: 4px;
  padding-inline-end: 4px;
  font-size: 110%;
}

.w3-card,
.w3-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.w3-card-4,
.w3-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-spin {
  animation: w3-spin 2s infinite linear;
}

@keyframes w3-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }

}

.w3-animate-fading {
  animation: fading 10s infinite;
}

@keyframes fading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.w3-animate-opacity {
  animation: opac 0.8s;
}

@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

.w3-animate-top {
  position: relative;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    inset-block-start: -300px;
    opacity: 0;
  }

  to {
    inset-block-start: 0;
    opacity: 1;
  }

}

.w3-animate-left {
  position: relative;
  animation: animateleft 0.4s;
}

@keyframes animateleft {
  from {
    inset-inline-start: -300px;
    opacity: 0;
  }

  to {
    inset-inline-start: 0;
    opacity: 1;
  }

}

.w3-animate-right {
  position: relative;
  animation: animateright 0.4s;
}

@keyframes animateright {
  from {
    inset-inline-end: -300px;
    opacity: 0;
  }

  to {
    inset-inline-end: 0;
    opacity: 1;
  }

}

.w3-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    inset-block-end: -300px;
    opacity: 0;
  }

  to {
    inset-block-end: 0;
    opacity: 1;
  }

}

.w3-animate-zoom {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }

}

.w3-animate-input {
  transition: width 0.4s ease-in-out;
}

.w3-animate-input:focus {
  width: 100% !important;
}

.w3-opacity,
.w3-hover-opacity:hover {
  opacity: 0.60;
}

.w3-opacity-off,
.w3-hover-opacity-off:hover {
  opacity: 1;
}

.w3-opacity-max {
  opacity: 0.25;
}

.w3-opacity-min {
  opacity: 0.75;
}

.w3-greyscale-max,
.w3-grayscale-max,
.w3-hover-greyscale:hover,
.w3-hover-grayscale:hover {
  filter: grayscale(100%);
}

.w3-greyscale,
.w3-grayscale {
  filter: grayscale(75%);
}

.w3-greyscale-min,
.w3-grayscale-min {
  filter: grayscale(50%);
}

.w3-sepia {
  filter: sepia(75%);
}

.w3-sepia-max,
.w3-hover-sepia:hover {
  filter: sepia(100%);
}

.w3-sepia-min {
  filter: sepia(50%);
}

.w3-tiny {
  font-size: 10px !important;
}

.w3-small {
  font-size: 12px !important;
}

.w3-medium {
  font-size: 15px !important;
}

.w3-large {
  font-size: 18px !important;
}

.w3-xlarge {
  font-size: 24px !important;
}

.w3-xxlarge {
  font-size: 36px !important;
}

.w3-xxxlarge {
  font-size: 48px !important;
}

.w3-jumbo {
  font-size: 64px !important;
}

.w3-left-align {
  text-align: start !important;
}

.w3-right-align {
  text-align: end !important;
}

.w3-justify {
  text-align: justify !important;
}

.w3-center {
  text-align: center !important;
}

.w3-border-0 {
  border: 0 !important;
}

.page-wrapper .w3-border {
  --r-br: var(--solo-ccc);
  border: 1px solid var(--r-br);
}

.page-wrapper .w3-border-top {
  --r-br: var(--solo-ccc);
  border-block-start: 1px solid var(--r-br);
}

.page-wrapper .w3-border-bottom {
  --r-br: var(--solo-ccc);
  border-block-end: 1px solid var(--r-br);
}

.page-wrapper .w3-border-left {
  --r-br: var(--solo-ccc);
  border-inline-start: 1px solid var(--r-br);
}

.page-wrapper .w3-border-right {
  --r-br: var(--solo-ccc);
  border-inline-end: 1px solid var(--r-br);
}

.page-wrapper .w3-topbar {
  --r-br: var(--solo-ccc);
  border-block-start: 6px solid var(--r-br);
}

.page-wrapper .w3-bottombar {
  --r-br: var(--solo-ccc);
  border-block-end: 6px solid var(--r-br);
}

.page-wrapper .w3-leftbar {
  --r-br: var(--solo-ccc);
  border-inline-start: 6px solid var(--r-br);
}

.page-wrapper .w3-rightbar {
  --r-br: var(--solo-ccc);
  border-inline-end: 6px solid var(--r-br);
}

.w3-section,
.w3-code {
  margin-block-start: 16px !important;
  margin-block-end: 16px !important;
}

.w3-margin {
  margin: 16px !important;
}

.w3-margin-top {
  margin-block-start: 16px !important;
}

.w3-margin-bottom {
  margin-block-end: 16px !important;
}

.w3-margin-left {
  margin-inline-start: 16px !important;
}

.w3-margin-right {
  margin-inline-end: 16px !important;
}

.w3-padding-small {
  padding-block: 4px !important;
  padding-inline: 8px !important;
}

.w3-padding {
  padding-block: 8px !important;
  padding-inline: 16px !important;
}

.w3-padding-large {
  padding-block: 12px !important;
  padding-inline: 24px !important;
}


.w3-padding-16 {
  padding-block-start: 16px !important;
  padding-block-end: 16px !important;
}

.w3-padding-24 {
  padding-block-start: 24px !important;
  padding-block-end: 24px !important;
}

.w3-padding-32 {
  padding-block-start: 32px !important;
  padding-block-end: 32px !important;
}

.w3-padding-48 {
  padding-block-start: 48px !important;
  padding-block-end: 48px !important;
}

.w3-padding-64 {
  padding-block-start: 64px !important;
  padding-block-end: 64px !important;
}

.w3-padding-top-64 {
  padding-block-start: 64px !important;
}

.w3-padding-top-48 {
  padding-block-start: 48px !important;
}

.w3-padding-top-32 {
  padding-block-start: 32px !important;
}

.w3-padding-top-24 {
  padding-block-start: 24px !important;
}

.w3-left {
  float: inline-start !important;
}

.w3-right {
  float: inline-end !important;
}
