form.search-form input[type=textarea],
form.search-form input[type=search],
form.search-form input[type=textfield] {
  width: 100% !important;
}

form.search-form>.form-wrapper:not(.search-advanced) {
  position: relative;
  display: grid;
  grid-template-columns: minmax(250px, auto) minmax(50px, 160px);
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  row-gap: var(--solo-px8);
  grid-template-areas: "form-item form-submit";
  align-items: self-end;
}

form.search-form>.form-wrapper>.form-item {
  grid-area: form-item;
}

form.search-form>.form-wrapper>.form-submit {
  grid-area: form-submit;
  margin-block-end: var(--solo-px8);
  margin-inline: 0;
  margin-block-start: 0;
  width: 100%;
}

form.search-form .form-wrapper>.button--primary {
  padding-inline-end: var(--solo-px3) !important;
  padding-inline-start: var(--solo-px3) !important;
}

form.search-form>* {
  width: 100%;
}

.path-search .solo-row.item-list>h3 {
  padding-block: 0;
  padding-inline: var(--solo-px16);
  font-size: var(--solo-px18);
}

.path-search .search-form .search-advanced summary.solo-button {
  box-sizing: border-box;
}

.path-search .search-form .search-advanced #edit-type--wrapper>legend,
.path-search .search-form .search-advanced #edit-language--wrapper>legend {
  display: none;
}

.path-search .search-form .search-advanced #edit-type--wrapper div.fieldset-wrapper,
.path-search .search-form .search-advanced #edit-keywords-fieldset>.fieldset-wrapper,
.path-search .search-form .search-advanced #edit-language--wrapper div.fieldset-wrapper,
.path-search .search-form .search-advanced #edit-type--wrapper div.fieldset-wrapper div.form-checkboxes,
.path-search .search-form .search-advanced #edit-language--wrapper div.fieldset-wrapper div.form-checkboxes {
  margin: 0 !important;
}

.path-search .search-form .search-advanced #edit-lang-fieldset>.fieldset-wrapper,
.path-search .search-form .search-advanced #edit-types-fieldset>.fieldset-wrapper {
  margin-block-start: 0 !important;
}

.path-search .search-form .search-advanced #edit-lang-fieldset>legend,
.path-search .search-form .search-advanced #edit-types-fieldset>legend {
  display: inline-block;
}

.search-form .search-advanced:hover {
  background-color: transparent !important;
}

.search-form + h2 {
  clear: both;
}

form.search-form details.search-advanced .details-wrapper {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.4s ease, opacity 0.4s ease;
}

form.search-form details.search-advanced[open] .details-wrapper {
  height: auto;
  opacity: 1;
}

form.search-form details.search-advanced[open] .details-wrapper {
  height: var(--details-wrapper-height);
}

form.search-form .search-advanced fieldset[data-drupal-selector="edit-keywords-fieldset"] .solo-clear::after,
form.search-form .search-advanced fieldset[data-drupal-selector="edit-keywords-fieldset"] .solo-clear::before,
form.search-form .search-advanced fieldset[data-drupal-selector="edit-types-fieldset"] .solo-clear::before,
form.search-form .search-advanced fieldset[data-drupal-selector="edit-lang-fieldset"] .solo-clear::before {
  display: inline;
  content: none;
}

form.search-form .search-advanced fieldset[data-drupal-selector="edit-keywords-fieldset"] > .fieldset-wrapper,
form.search-form .search-advanced fieldset[data-drupal-selector="edit-types-fieldset"] > .fieldset-wrapper,
form.search-form .search-advanced fieldset[data-drupal-selector="edit-lang-fieldset"]  > .fieldset-wrapper {
  padding: 0;
}

form.search-form .search-advanced fieldset[data-drupal-selector="edit-keywords-fieldset"] > .fieldset-wrapper fieldset,
form.search-form .search-advanced fieldset[data-drupal-selector="edit-types-fieldset"] > .fieldset-wrapper fieldset,
form.search-form .search-advanced fieldset[data-drupal-selector="edit-lang-fieldset"]  > .fieldset-wrapper fieldset {
  border: none !important;
}

form.search-form .search-advanced fieldset {
  width: auto;
}

form.search-form .search-advanced fieldset[data-drupal-selector="edit-keywords-fieldset"] .fieldset-wrapper>* {
  flex-grow: 1;
}

@media(min-width:48rem) {
  form.search-form .search-advanced fieldset[data-drupal-selector="edit-keywords-fieldset"] .fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--solo-px12);
  }

  form.search-form .search-advanced fieldset[data-drupal-selector="edit-types-fieldset"] .fieldset-wrapper .form-checkboxes,
  form.search-form .search-advanced fieldset[data-drupal-selector="edit-lang-fieldset"] .fieldset-wrapper .form-checkboxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--solo-px24);
  }

  form.search-form .search-advanced fieldset[data-drupal-selector="edit-types-fieldset"] .fieldset-wrapper .form-checkboxes>*,
  form.search-form .search-advanced fieldset[data-drupal-selector="edit-lang-fieldset"] .fieldset-wrapper .form-checkboxes >* {
    width: auto;
    flex-wrap: nowrap;
  }

  form.search-form .search-advanced fieldset[data-drupal-selector="edit-types-fieldset"] .fieldset-wrapper .form-checkboxes label,
  form.search-form .search-advanced fieldset[data-drupal-selector="edit-lang-fieldset"] .fieldset-wrapper .form-checkboxes label {
    flex-basis: max-content;
    white-space: nowrap;
  }

}

@media (min-width:48rem) and (max-width:62rem) {
  form.search-form .search-advanced fieldset[data-drupal-selector="edit-keywords-fieldset"] .fieldset-wrapper > * {
    flex: 1 1 calc(50% - var(--solo-px12));
    max-width: calc(50% - var(--solo-px12));
  }

  form.search-form .search-advanced fieldset[data-drupal-selector="edit-keywords-fieldset"] .fieldset-wrapper > *:nth-child(3) {
    flex: 1 1 100%;
    max-width: 100%;
  }

}
