figcaption {
  padding: 0.5rem;
  font-family: serif;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.5rem;
}

.align-right,
.align-left,
.align-center {
  float: none;
  max-width: 100%;
  margin-block: 1rem;
}

.align-center {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

@media (min-width:36rem) {
  figcaption {
    padding: 1rem;
  }

  .align-right {
    float: inline-end;
    max-width: 75%;
    margin-block: 1rem;
    margin-inline-start: 1rem;
  }

  [dir="rtl"] .align-right {
    float: inline-start;
    margin-inline-start: 0;
    margin-inline-end: 1rem;
  }

  .align-left {
    float: inline-start;
    max-width: 75%;
    margin-block: 1rem;
    margin-inline-end: 1rem;
  }

  [dir="rtl"] .align-left {
    float: inline-end;
    margin-inline-end: 0;
    margin-inline-start: 1rem;
  }

}

@media (min-width:48rem) {
  .align-right {
    float: inline-end;
    max-width: 50%;
    margin-block: 1rem;
    margin-inline-start: 1rem;
  }

  [dir="rtl"] .align-right {
    float: inline-start;
    margin-inline-start: 0;
    margin-inline-end: 1rem;
  }

  .align-left {
    float: inline-start;
    max-width: 50%;
    margin-block: 1rem;
    margin-inline-end: 1rem;
  }

  [dir="rtl"] .align-left {
    float: inline-end;
    margin-inline-end: 0;
    margin-inline-start: 1rem;
  }

}

.align-center img,
.align-center video,
.align-center audio {
  margin-inline: auto;
}

.media-oembed-content {
  display: block;
  max-width: 100%;
}
