.comment-wrapper {
  display: grid;
}

.comment-wrapper h2.comment-form__title {
  margin-block-end: var(--solo-px24);
}

.field-node--comment {
  font-size: var(--solo-px14);
}

.comment {
  margin-block-end: var(--solo-px24);
  vertical-align: top;
  display: flex;
}

[dir="rtl"] .comment {
  direction: rtl;
}

.comment__meta {
  padding-inline-end: var(--solo-px24);
  font-size: var(--solo-px16);
}

[dir="rtl"] .comment__meta {
  padding-inline-start: var(--solo-px24);
}

.comment__attribution img {
  border: var(--solo-px1) solid var(--r-br, var(--r-br-b));
}

/* This is required to win over specificity of .field--type-image img */
.comment .field--name-user-picture img {
  margin: 0;
}

.comment__author .username {
  white-space: nowrap;
}

.comment__author {
  margin-block: var(--solo-px4);
  margin-inline: 0;
  line-height: var(--solo-px18);
}

.comment__time {
  margin-block-end: var(--solo-px4);
  font-size: var(--solo-px14);
  line-height: var(--solo-px18);
}

.comment__permalink {
  font-size: var(--solo-px14);
  line-height: var(--solo-px18);
}

.comment__author a {
  display: inline-block;
}

.comment__content {
  position: relative;
  display: table-cell;
  padding: var(--solo-px24);
  vertical-align: top;
  width: 100%;
  border: var(--solo-px1) solid var(--r-br, var(--r-br-b));
  word-break: break-all;
  hyphens: auto;
}

.comment__content > h3 {
  margin-block-start: 0;
}

[dir="rtl"] .comment__content::before {
  inset-inline-end: auto;
  inset-inline-start: 100%;
  border-inline-end: none;
  border-inline-start: var(--solo-px20) solid var(--r-br, var(--r-br-b));
}

.comment__content::after {
  content: '';
  position: absolute;
  inset-inline-end: 100%; /* LTR */
  inset-block-start: var(--solo-px20);
  border-block-start: var(--solo-px20) solid transparent;
  border-inline-end: var(--solo-px20) solid transparent; /* LTR */
  border-block-end: var(--solo-px20) solid transparent;
  margin-inline-end: -1px; /* LTR */
}

[dir="rtl"] .comment__content::after {
  inset-inline-end: auto;
  inset-inline-start: 100%;
  border-inline-end: none;
  border-inline-start: var(--solo-px20) solid transparent;
  margin-inline-end: 0;
  margin-inline-start: -1px;
}

.indented {
  margin-inline-start: calc(2 * var(--solo-px20)); /* LTR */
}

[dir="rtl"] .indented {
  margin-inline-end: var(--solo-px24);
  margin-inline-start: 0;
}

.comment .links {
  padding-block-end: var(--solo-px4);
}

.comment .links li {
  padding-inline-end: var(--solo-px8);
  font-size: var(--solo-px16);
}

[dir="rtl"] .comment .links li {
  padding-inline-start: var(--solo-px8);
  padding-inline-end: 0;
}

.comment--unpublished {
  margin-inline-end: var(--solo-px5);
  padding-block: var(--solo-px5);
  padding-inline-end: var(--solo-px2);
}

[dir="rtl"] .comment--unpublished {
  margin-inline-start: var(--solo-px5);
  margin-inline-end: 0;
  padding-inline-start: var(--solo-px2);
  padding-inline-end: var(--solo-px5);
}

/**
 * change this to .comment--unpublished.
 */
.unpublished .comment-text .comment-arrow {
  border-inline-start: var(--solo-px1) solid var(--r-br, var(--r-br-b));
  border-inline-end: var(--solo-px1) solid var(--r-br, var(--r-br-b));
}

.unpublished {
  padding-block-start: var(--solo-px20);
  padding-inline: var(--solo-px15);
  padding-block-end: 0;
}

.comment-footer {
  display: table-row;
}

.comment--unpublished .comment__text::after,
.node--unpublished .comment__text::after {
  border-right-color: var(--r-br, var(--r-br-b)); /* LTR */
}

[dir="rtl"] .comment--unpublished .comment__content::after,
[dir="rtl"] .node--unpublished .comment__content::after {
  border-left-color: var(--r-br, var(--r-br-b));
}

@media (max-width:36rem) {
  article.comment {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "comment__meta"
    "comment__content";
  }

  .comment__meta {
    margin-block-start: var(--solo-px12);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    grid-area: 2;
  }

  .comment__content {
    grid-area: 1;
    margin-block-start: var(--solo-px12);
  }

  .comment__meta>* {
    margin-inline-end: var(--solo-px12);
  }

}
