details.form-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

details.form-wrapper {
  padding: 0 !important;
  margin-block-end: var(--solo-px16) !important;
  margin-inline: 0 !important;
  line-height: inherit;
  color: inherit;
  box-shadow: 0 1px 4px var(--r-br, var(--r-br-b));
}

details.form-wrapper > summary {
  cursor: pointer;
  padding-block: var(--solo-px8);
  padding-inline: var(--solo-px16);
}

form div.container-inline>* {
  margin-block-start: var(--solo-px8);
  margin-block-end: var(--solo-px8);
  margin-inline-end: var(--solo-px8);
  margin-inline-start: 0;
}

form .fieldset-wrapper .form-item {
  margin-block-start: var(--solo-px8);
  margin-block-end: var(--solo-px8);
}

.details-wrapper {
  margin: var(--solo-px16);
  display: grid;
}

.modules-wrapper details[open] {
  padding-block: var(--solo-px8) !important;
  padding-inline: var(--solo-px16) !important;
}

.vertical-tabs details[open] {
  padding: 0 !important;
}

form .tableselect-sort th:first-child,
form .tableselect-sort td:first-child {
  width: 85px;
}

form tr.draggable td > a,
form tr.draggable td > div.form-type-radio,
form tr.draggable td > div.form-type-checkbox {
  float: inline-start !important;
  padding: 0 !important;
  margin: 0 !important;
  clear: none !important;
}

form a.tabledrag-handle .handle {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

form .draggable a.tabledrag-handle {
  margin-block-start: 0 !important;
  margin-block-end: -3px !important;
  margin-inline-end: 5px !important;
  margin-inline-start: 0 !important;
  width: 25px;
}

form tr.draggable .solo-check,
form tr.draggable .solo-radio {
  inset-block-start: 0;
}

form .field-multiple-drag {
  width: 50px;
}

form div.form-type-datelist.solo-section.form-item {
  width: auto;
  clear: none;
}

.form-type-datelist > div {
  padding-inline-start: 0;
}

form #edit-datelist,
form #edit-datetime {
  padding: 0;
  margin: 0;
}

form #edit-datetime > div {
  float: inline-start;
  margin: 0 !important;
  width: 50%;
}

form  #edit-datetime > div input {
  min-width: 165px;
}

form .form-type-date,
form .form-type-datetime,
form .form-type-webform-time {
  width: 50% !important;
  float: inline-start;
  clear: none;
}

form .form-type-date input,
form .form-type-datetime input,
form .form-type-webform-time input {
  width: calc(100% - 2px);
}

form .form-item-range > span.field-suffix,
form .form-item-range .form-item-range__output {
  display: block;
  float: inline-start;
  width: 100%;
}

form .form-item-range .form-item-range__output input {
  width: 4em;
  display: inline-block;
  clear: none;
}

form .form-item-datelist #edit-datelist > div select {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

form .table-sort-weight.form-select {
  width: auto;
}

form select {
  min-width: 75px;
}

.messages.messages--info {
  background-position: var(--background-position-inline, 2px) 17px;
}

/* Adjust for RTL */
[dir="rtl"] .messages.messages--info {
  --background-position-inline: calc(100% - 2px);
}

.js-filter-guidelines {
  font-size: 85%;
}

.js-filter-guidelines li {
  padding-block-end: 0;
}

form .form-item {
  text-align: var(--solo-text-align-start);
}

fieldset.form-item > .fieldset-wrapper {
  padding: var(--solo-px8);
}

.field-ui-overview .field-plugin-settings-edit {
  width: auto !important;
  max-width: 40px;
}

form .form-item label {
  padding-inline-end: 10px;
}

table ul.dropbutton li.solo-left.dropbutton-action {
  float: none !important;
  z-index: 1;
  margin-inline-end: 0 !important;
  line-height: 26px;
}

table ul.dropbutton,
.js .dropbutton-widget .dropbutton {
  padding: 0 !important;
}

.dropbutton li {
  padding: 0;
}

.dropbutton li a {
  padding-block: 6px;
  padding-inline: 12px;
  line-height: 26px;
  font-size: 14px;
}

.dropbutton button {
  border-inline-start: none;
}

.js td .dropbutton-wrapper {
  min-height: 50px;
}

table ul.dropbutton li:first-child {
  margin-inline-end: 10px !important;
}

.node-form table ul.dropbutton li:first-child {
  margin-inline-end: 0 !important;
}

table ul.dropbutton li.dropbutton-toggle {
  margin-inline-end: 0 !important;
  margin-inline-start: 10px;
}

/* Node preview */
.node-preview-container {
  position: relative;
  background-color: transparent;
}

.node-preview-container .node-preview-form-select {
  display: flex;
  align-items: center;
  justify-content: start;
  width: auto;
  height: 100%;
  margin-block: 0 !important;
  margin-inline: auto !important;
}

.node-preview-container a.node-preview-backlink {
  display: inline-flex;
  align-items: center;
  padding-block: 8px;
  padding-inline: 12px;
}

.node-preview-container a.node-preview-backlink:hover {
  text-decoration: underline;
}

div.node-preview-container .form-item-view-mode {
  display: inline-flex;
  align-items: center;
}

div.node-preview-container .form-item-view-mode label,
div.node-preview-container .form-item-view-mode select {
  display: inline-block;
  width: auto;
  border: none !important;
}

div.node-preview-container .form-item-view-mode select {
  min-width: 130px;
}

.ui-dialog .ui-widget-content.ui-dialog-buttonpane .button {
  margin-block: 10px;
  margin-inline: auto;
}

.ui-dialog,
.ui-dialog > div {
  border-width: 0 !important;
}

body .ui-dialog {
  z-index: 1001 !important;
}

span.admin-link button,
span.field-edit-link button {
  border: none !important;
  background-color: transparent !important;
}

.fieldset-wrapper>.form-checkboxes {
  display: grid;
}

form .form--inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

form .form--inline .form-actions {
  flex-grow: 1;
  flex-basis: 100%;
}

form .pb-tab-display [data-drupal-selector="para-color-picker"] .form-color {
  min-height: 54px;
}
