body {
  font-style: normal;
}

/* be-vietnam-pro-100 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts-files/be-vietnam-pro/be-vietnam-pro-v11-latin_latin-ext-100.woff2') format('woff2');
}
/* be-vietnam-pro-200 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts-files/be-vietnam-pro/be-vietnam-pro-v11-latin_latin-ext-200.woff2') format('woff2');
}
/* be-vietnam-pro-300 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts-files/be-vietnam-pro/be-vietnam-pro-v11-latin_latin-ext-300.woff2') format('woff2');
}
/* be-vietnam-pro-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts-files/be-vietnam-pro/be-vietnam-pro-v11-latin_latin-ext-regular.woff2') format('woff2');
}
/* be-vietnam-pro-500 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts-files/be-vietnam-pro/be-vietnam-pro-v11-latin_latin-ext-500.woff2') format('woff2');
}
/* be-vietnam-pro-600 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts-files/be-vietnam-pro/be-vietnam-pro-v11-latin_latin-ext-600.woff2') format('woff2');
}
/* be-vietnam-pro-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts-files/be-vietnam-pro/be-vietnam-pro-v11-latin_latin-ext-700.woff2') format('woff2');
}
/* be-vietnam-pro-800 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts-files/be-vietnam-pro/be-vietnam-pro-v11-latin_latin-ext-800.woff2') format('woff2');
}
/* be-vietnam-pro-900 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts-files/be-vietnam-pro/be-vietnam-pro-v11-latin_latin-ext-900.woff2') format('woff2');
}
